body {
    margin: 0;
    padding: 0;
}

.logo-header {
    max-width: 400px;
    margin-bottom: 16px;
}

.card {
    margin: 20px;
    /*padding: 0px 12px; */
    /* height: 2000px; */
    /* height: 600px; */
}
#card-m{
    height: 520px;
}

.btn-danger {
    width: 100%;
}

.col-lg {
    justify-content: center;
    align-items: center;
}
