body {
    margin: 0;
    padding: 0;
}

.login {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    padding: 20px;
}

.logo {
    max-width: 400px;
}

.p-3 {
    display: flex;
    justify-content: center;
}

.btn-danger {
    width: 50%;
    margin: 10px;
}

.aire {
    height: 200px;
}